*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-container{
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 1.5;
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    color: #002f34;
}

/* header  */

header{
    background-color: #fff;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 6;
}



.header-upperpart{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 16px 120px 6px 120px;
}

.Menu-bar{
    display: none;
}

.logo{
    height: 32px;
    width: 56px;
    fill: #002f34;
    margin-right: 20px;
}

.motor-svg{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 20px;
}

.motor-svg-hover:hover{
    color:#3a77ff;
}

.car-svg{
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(236, 236, 236, 0.842);
}


.motor-txt{
    font-weight: 700;
    font-size: 16px;
}


.property-svg{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 20px;
}

.property-svg-hover:hover{
    color:#3a77ff;
}

.property{
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(236, 236, 236, 0.842);
}


.property-txt{
    font-weight: 700;
    font-size: 16px;
}



.header-lower-part{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 10px;
    margin: 0 120px;
}

.location-input-bar{
    display: flex;
    align-items: center;
    border: 1px solid #d8dfe0;
    border-radius: 4px;
}

.location{
    height: 46px;
    width: 24px;
    margin-left: 8px;
}

.location-input{
    width: 216px;
    height: 46px;
    border: none;
    outline: none;
    color: #002f34;
    padding-left: 12px;
    font-size: 16px;
}


.location-dropdown{
    height: 46px;
    width: 24px;
    margin-right: 16px;
}

.search-input-bar{
    display: flex;
    align-items: center;
    border: 1px solid #d8dfe0;
    border-radius: 4px;
    margin-left: 20px;
}

.search-bar{
    width: 450px;
    height: 46px;
    padding-left: 12px;
    color: #002f34;
    font-size: 16px;
    border: none;
}

.search-btn{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: #002f34;
}

.search-svg{
    fill: #fff;
}

.login-btn{
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid;
    margin-left: 32px;
}

.login-btn:hover{
    border: none;
}

.Sell-button{
    margin-left: 20px;
}

.sell-btn{
    display: flex;
    position: relative;
    background: none;
    border: none;
    color: inherit;
}

.btn-border{
    height: 48px;
    width: 104px;
}

.sell-btn-plus-icon{
    position: absolute;
    left: 25px;
    top: 15px;
    align-items: center;
}

.plus-icon{
    margin-right: 4px;
    align-items: center;
}

.sell-txt{
    font-weight: 700;
    font-size: 14px;
}

/* header media query  */

@media screen and (max-width:600px){

    .header-upperpart{
        display: flex;
        align-items: center;
        gap: 15px;
        width:100%;
        margin-right: 20px;
        border-bottom: none;
        padding-left: 14px;
        padding-top: 6.3px;
        margin: 0;
    }

    .Menu-bar{
        height: 24px;
        width: 24px;
        fill: #002f34;
        margin-right: 16px;
    }
    
    .logo{
        height: 20px;
        width: 35px;
        fill: #002f34;
        margin-right: 20px;
    }
    
    .motor-svg{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-right: 20px;
    }
    
    .motor-svg-hover:hover{
        color:#3a77ff;
    }
    
    .car-svg{
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 5px;
        background-color: rgba(236, 236, 236, 0.842);
    }
    
    
    .motor-txt{
        font-weight: 700;
        font-size: 16px;
    }
    
    
    .property-svg{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-right: 20px;
    }
    
    .property-svg-hover:hover{
        color:#3a77ff;
    }
    
    .property{
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 5px;
        background-color: rgba(236, 236, 236, 0.842);
    }
    
    
    .property-txt{
        font-weight: 700;
        font-size: 16px;
    }
    
}



/* 
navigation bar 

.list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #d8dfe0;
}

.list ul {
    width: 90%;
    height: 45px;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
}

.list ul lhead{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.list ul i{
    margin-left: 8px;
    font-size: 16px;
}

.list ul li a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #002f34;
}

.list ul li a:hover{
    color: #00A49F;
}

  banner 

.banner {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 90%;
    height: 90%;
}

  categories  
.categories {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.heading {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.heading h3 {
    font-size: 22px;
    font-weight: 550;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
    padding-left: 80px;
    padding-right: 50px;
}

.box {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
}

.box:hover{
    transform: scale(1.1);
}


.box p {
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
}

.box img {
    width: 80%;
    height: 45%;
}


 categories items

.mobiles {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-mobiles {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    width: 24%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.cards:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

.cards-img {
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.cards-img img {
    width: 100%;
    height: auto;
    display: block;
}


.cards-inner-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.price p {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.price i {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}

.des {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 20px;
}

.des p {
    font-size: 15px;
}

.adress {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.adress p {
    font-size: 15px;
    opacity: 0.8;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
}

.time {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
}

.time p {
    font-size: 12px;
    opacity: 0.9;
    font-weight: 400;
    margin-top: 5px;
    text-align: left;
}

.heading p {
    font-size: 17px;
    font-weight: 700;
    color: #3A77FF;
    cursor: pointer;
}

.heading p:hover{
    color: #6192fd;
}

.heading i {
    margin-left: 10px;
    align-items: center;
}

.color{
    color: red;
}

 footer banner  

.footer-banner {
    margin-top: 70px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-banner img {
    width: 90%;
    height: 80%;
}


.footer-section{
    background-color: #ebeeef;
    border-top: 1px solid rgba(0, 47, 52, .2);
    padding: 16px 0 90px;
}

.footer-lists{
    display: flex;
    justify-content: space-between;
    margin-left: 120.500px;
    margin-right: 120.500px;
}

.footer-list-1{
    flex: 1;
    width: 189px;
    height: 113px;
}

.heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.footer-list-1 ul li{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin-top: 8px;
    font-size: 14px;
    color: #5b7b7d;
}

.footer-list-1 ul li:hover{
    color: #002f34;
}

 footer bottom  
.footer-bottom{
    margin-top: 20px;
    height: 50px;
    background-color: #002f34;
    color: #fff;
    padding: 16px 0;
    text-align: right;
}

.footer-bottom-space{
    height: 19px;
    color: white;
    text-align: right;
    margin: 0px 120.500px;
}

.footer-bottom-content{
    color: #fff;
    font-size: 14px;
}

.footer-bottom-content span{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-right: 8px;
}   */
