*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-container{
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 1.5;
    width: 100%;
    height: auto;
    color: #002f34;
}

/* header upper part  */

header{
    border-bottom: 1px solid gainsboro;
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: white;
}



.header {
    padding-top: 8px;
    margin-left: 70px;
    margin-right: 100px;
    padding-bottom: 5px;
}

.navbar-nav{
    display: flex;
    gap: 15px;
    padding: 10px 0;
}




.menu-svg{
    display: none;
}

.motor-a{
    display: flex;
    gap: 70px;

}

.motor-svg{
    height:40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(0, 47, 52, .16), rgba(0, 47, 52, .01) 81.77%, rgba(0, 47, 52, .01));
}

.svg {
    display: flex;
    align-items: center;
    gap: 25px;
}

.olx-svg{
    fill: #002f34;
}


.motor-a:hover .motor-svg{
    background-color:#EBF1FF;
}

.motor-a:hover  .svg-hover{
    fill: #3A7BFF;
} 

   /* Search-bar-Section */

.search-bar-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 55px;
    width: 1060px;
    /* border: 1px solid black; */
    margin-left: 60px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.ser-item-1{
    border: 1px solid gainsboro;
    height: 50px;
    width: 310px;
    position: relative;
    margin-left: 20px;
    border-radius: 4px;
}

.ser-item-1:focus-within{
    outline: 1px solid rgb(6, 224, 217);
}

.location-bar{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
}

#location-inp{
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
}

.dropdown-svg{
    position: absolute;
    right: 9px;
    top: 8.4px;
    cursor: pointer;
}

.location-bar-icon{
    margin-bottom: -7px;
}

.ser-item-2{
    border: 1px solid gainsboro;
    height: 50px;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}
.ser-item-2:focus-within{
    outline: 1px solid rgb(6, 224, 217);
}

.search-inp{
    width: 300px;
    border: none;
    outline: none;
    margin-left: 20px;
}

.search-svg{
    border: 1px solid black;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002F34;
    cursor: pointer;
}

.ser-item-3{
    height: 50px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-word{
    font-size: 16px;
    font-weight: 650;
    cursor: pointer;

}

.login-word:hover + .login-underline{
    opacity: 0;
}

.login-underline{
    border-bottom: 2px solid black;
    width: 40px;
    margin-top: 0px;
    padding-top: 0px;
}

.sell-svg{
    position: relative;
}

.sell-span{
    position: absolute;
    top: 15px;
    left: 45px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
}

.sell-plus-icon{
    position: absolute;
    top: 8px;
    left: 25px;
}

 /* navigation bar 

.list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #d8dfe0;
}

.list ul {
    width: 90%;
    height: 45px;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
}

.list ul lhead{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.list ul i{
    margin-left: 8px;
    font-size: 16px;
}

.list ul li a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #002f34;
}

.list ul li a:hover{
    color: #00A49F;
}

  banner 

.banner {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 90%;
    height: 90%;
}

  categories  
.categories {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.heading {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.heading h3 {
    font-size: 22px;
    font-weight: 550;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
    padding-left: 80px;
    padding-right: 50px;
}

.box {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
}

.box:hover{
    transform: scale(1.1);
}


.box p {
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
}

.box img {
    width: 80%;
    height: 45%;
}


 categories items

.mobiles {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-mobiles {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    width: 24%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.cards:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

.cards-img {
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.cards-img img {
    width: 100%;
    height: auto;
    display: block;
}


.cards-inner-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.price p {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.price i {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}

.des {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 20px;
}

.des p {
    font-size: 15px;
}

.adress {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.adress p {
    font-size: 15px;
    opacity: 0.8;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
}

.time {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
}

.time p {
    font-size: 12px;
    opacity: 0.9;
    font-weight: 400;
    margin-top: 5px;
    text-align: left;
}

.heading p {
    font-size: 17px;
    font-weight: 700;
    color: #3A77FF;
    cursor: pointer;
}

.heading p:hover{
    color: #6192fd;
}

.heading i {
    margin-left: 10px;
    align-items: center;
}

.color{
    color: red;
}

 footer banner  

.footer-banner {
    margin-top: 70px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-banner img {
    width: 90%;
    height: 80%;
}


.footer-section{
    background-color: #ebeeef;
    border-top: 1px solid rgba(0, 47, 52, .2);
    padding: 16px 0 90px;
}

.footer-lists{
    display: flex;
    justify-content: space-between;
    margin-left: 120.500px;
    margin-right: 120.500px;
}

.footer-list-1{
    flex: 1;
    width: 189px;
    height: 113px;
}

.heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.footer-list-1 ul li{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin-top: 8px;
    font-size: 14px;
    color: #5b7b7d;
}

.footer-list-1 ul li:hover{
    color: #002f34;
}

 footer bottom  
.footer-bottom{
    margin-top: 20px;
    height: 50px;
    background-color: #002f34;
    color: #fff;
    padding: 16px 0;
    text-align: right;
}

.footer-bottom-space{
    height: 19px;
    color: white;
    text-align: right;
    margin: 0px 120.500px;
}

.footer-bottom-content{
    color: #fff;
    font-size: 14px;
}

.footer-bottom-content span{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-right: 8px;
}  */
